<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangyiming.mapper.ModuleMapper" >
  <resultMap id="BaseResultMap" type="com.zhangyiming.pojo.Module" >
    <id column="mid" property="mid" jdbcType="INTEGER" />
    <result column="mname" property="mname" jdbcType="VARCHAR" />
  </resultMap>
</mapper>